---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap";

body {
    padding-top: 70px;
}
.navbar-brand.visible-xs {
    font-size: 16px;
}
.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}