<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/who/">Who We Are</a></li>
                    <li><a href="/what/">What We Do</a></li>
                    <li><a href="/action/">Action To Take</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/mcaoto/">Facebook</a></li>
                    <li><a href="http://sites.magnoliachristianacademy.org/administration/">Administration</a></li>
                    <li><a href="http://sites.magnoliachristianacademy.org/participating-families/">Participating Families</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 text-right">
                <img src="{{ "/media/logo-long-bw.svg" | prepend: site.baseurl }}" width="150px" alt="Magnolia Christian Academy"><br />
                <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
