<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="/who/">Who We Are</a></li>
                    <li><a href="/faith/">Statement of Faith</a></li>
                    <li><a href="/what/">What We Do</a></li>
                    <li><a href="/action/">How To Get Involved</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                    <li><a href="/contact/">Location</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/mcaoto/">Facebook</a></li>
                    <!--<li><a href="http://sites.magnoliachristianacademy.org/administration/">Administration</a></li>-->
                    <li><a href="http://sites.magnoliachristianacademy.org/participating-families/">Participating Families</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                <img src="{{ "/media/logo-long-bw.svg" | prepend: site.baseurl }}" width="150px" alt="Magnolia Christian Academy"><br />
                <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80453902-1', 'auto');
    ga('send', 'pageview');

</script>