<header class="site-header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="{{ site.baseurl }}/" class="navbar-brand">
          <img src="{{ "/media/logo-long-bw-white.svg" | prepend: site.baseurl }}"
               class="pull-left" height="40px" alt="Magnolia Christian Academy">
        </a>
        <button type="button" class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><a href="/who/">Who We Are</a></li>
        <li><a href="/what/">What We Do</a></li>
        <li><a href="/action/">How To Get Involved</a></li>
        <li><a href="/contact/">Contact Us</a></li>
      </ul>
    </div>
  </div>
</header>