.event-list {
    list-style: none;
    margin: 0;
    padding: 0;
    h2 {
        color: $mca-dark-grey;
    }
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1px rgba(51, 51, 51, 0.7);
    padding: 0;
    margin: 0 0 20px;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: $mca-green;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
    background-color: $mca-orange;
}
.event-list > li > time > .day {
    display: block;
    font-size: 24pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .month {
    display: block;
    font-size: 18pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0;
}
.event-list > li > .info > ul,
.event-list > li > .info > ul > li,
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > li > .info > ul > li:hover,
.event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    padding: 0;
}
.event-list > li > time,
.event-list > li > img  {
    display: inline-block;
}
.event-list > li > time,
.event-list > li > img {
    width: 80px;
    float: left;
}
.event-list > li > .info {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.event-list > li > time,
.event-list > li > img {
    width: 120px;
    height: 80px;
    padding: 0;
    margin: 0;
}
.event-list > li > .info {
    position: relative;
    height: 80px;
    text-align: left;
    padding-right: 40px;
}
.event-list > li > .info > .title,
.event-list > li > .info > .desc {
    padding: 0 10px;
}
.event-list > li > .info > ul {
    position: absolute;
    left: 0;
    bottom: 0;
}