//$font-size-base: 17px;
//$headings-font-weight: 600;
//$blockquote-font-size: $font-size-base;

$mca-orange:#c50;
$mca-white:#fff;
$mca-light-grey:#5b5953;
$mca-dark-grey:#333027;
$mca-green:#0b6630;

$navbar-inverse-bg: $mca-dark-grey;

@import "bootstrap/variables";